$textcolor: #fff;
$accent: #ff5f6d;

.spollers-block {
    &__item {
        background: rgba(41, 46, 75, 0.98);
        margin-bottom: 20px;
        padding-left: 20px;
        border-radius: 8px;
    }

    // .spollers-block__title

    &__title {
        @include adaptiv-value("font-size", 20, 20, 1);
        @include adaptiv-value("line-height", 30, 30, 1);
        font-weight: 400;
        cursor: pointer;
        padding-right: 70px;
        @include adaptiv-value("padding-top", 30, 20, 1);
        @include adaptiv-value("padding-bottom", 30, 20, 1);
        position: relative;
        user-select: none;
        transition: color 0.3s ease-in-out;
        color: $textcolor;
        &:hover {
            color: $textcolor;
        }
        &._active {
            color: $accent;
        }
        &::before {
            content: "";
            width: 30px;
            @include adaptiv-value("width", 30, 20, 1);
            background-color: $accent;
            height: 2px;
            transition: transform 0.3s ease 0s;
            transform: translate(0, -50%) rotate(0deg);
            position: absolute;
            right: 25px;
            top: 50%;
        }
        &::after {
            content: "";
            width: 30px;
            @include adaptiv-value("width", 30, 20, 1);
            background-color: $accent;
            height: 2px;
            transition: transform 0.3s ease 0s;
            transform: translate(0, -50%) rotate(90deg);
            position: absolute;
            right: 25px;
            top: 50%;
        }
        &._active {
            &::before {
                transform: translate(0, -50%) rotate(45deg);
            }
            &::after {
                transform: translate(0, -50%) rotate(-45deg);
            }
        }
    }
    // .spollers-block__body
    &__body {
        @include adaptiv-value("font-size", 15, 15, 1);
        @include adaptiv-value("line-height", 21, 21, 1);
        font-weight: 400;
        display: none;
        padding: 0px 10px 20px 10px;
        color: $textcolor;
        p {
            
        }
    }
	&__body-content {
		margin-bottom: 70px;
	}

    // .spollers-block__bottom

    &__bottom {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 30px;
		@include media-breakpoint-down(md) {
			justify-content: flex-start;
			flex-direction: column;
		}
    }
    // .spollers-block__item-title

    &__bottom-title {
		margin-right: 10px;
    }

    // .spollers-block__item-value

    &__bottom-value {
		font-family: "Marck Script", cursive;
		font-size: 40px;
		i {
			font-size: 22px;
			color: $accent;
		}
    }

    &__buttons {
        display: flex;
        justify-content: center;
    }
}
