//http://localhost:3001/sync-options

@import url(https://fonts.googleapis.com/css?family=Oregano:regular,italic);
@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Lobster&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Lobster&family=Marck+Script&family=Pacifico&display=swap');

.heading {
	font-weight: 700;
	margin: math.div($gutter, 2) 0 math.div($gutter, 1.5);
	font-size: 27px;
}
.a {
	font-family: 'Lobster', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Bad Script', cursive;
	font-family: 'Marck Script', cursive;
}

body {
	font-family: Sentinel SSm A, Sentinel SSm B, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
		Segoe UI Symbol;
	font-size: 14px;
	line-height: 1.625;
	letter-spacing: 0.5px;
	background-image: url(../images/dist/bg.jpg);
	background-color: #1b1e30;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-size: cover;
}

.wrapper {
	background-color: rgba(27, 30, 48, 0.96);
	@include media-breakpoint-down(md) {
		padding-top: 70px;
	}
}

#nokey {
	position: fixed;
	z-index: 0;
}

.page {
	position: relative;
	z-index: 10;
}
.__container {
	max-width: 1190px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	position: relative;
	z-index: 10;
	user-select: none;
	z-index: 3;
	transition: 0.3s;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
	}
	@include media-breakpoint-down(md) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		transition: 0.3s;
		&:before {
			background-color: #292e4b;
		}
	}
	&.change {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		transition: 0.3s;
		&:before {
			background-color: #292e4b;
		}
		.header__menu .header__list li:nth-child(3) {
			border-right: 1px solid #3d3f55;
			@include media-breakpoint-down(md) {
				border-right: none;
			}
		}
	}
}

.header__body {
	display: flex;
	align-items: center;
	position: relative;
	padding: 20px 15px 15px 0;
	@include media-breakpoint-down(md) {
		justify-content: flex-end;
	}
}
.header__logo {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	max-width: 100px;
	z-index: 4;
	text-decoration: none;
	color: #ffffff;
	&:hover {
		color: #ffffff;
	}
	i {
		font-size: 44px;
		margin-bottom: 10px;
		color: $accent;
	}
	span {
		font-weight: 400;
		font-style: italic;
	}
	@include media-breakpoint-down(md) {
		color: #333;
	}
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border-right: none;
	height: 120px;
	width: 120px;
	border: 1px dashed rgba(#fff, 0.3);
	border-radius: 100%;
	margin: 0 auto;
	a {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		overflow: hidden;
		max-width: 100px;
		text-decoration: none;
		color: #ffffff;
		z-index: 4;
		&:hover {
			color: #ffffff;
		}
		i {
			font-size: 44px;
			margin-bottom: 10px;
			color: $accent;
		}
		span {
			font-weight: 400;
			font-style: italic;
		}
	}
}

.header__menu {
	width: 100%;
	@include media-breakpoint-down(md) {
		position: fixed;
		top: 60px;
		right: -300px;
		background-color: #fff;
		z-index: 100;
		height: 100%;
		max-width: 300px;
		padding: 20px;
		transition: right 0.25s ease-in;
		overflow-y: scroll !important;
		&._active {
			right: 0;
			transition: right 0.25s ease-in;
		}
	}
	.header__list {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		width: 100%;
		z-index: 3;
		list-style: none;
		@include media-breakpoint-down(md) {
			flex-direction: column;
			overflow-y: scroll;
		}
		li {
			position: relative;
			padding: 0 20px;
			border-right: 1px solid #3d3f55;
			@include media-breakpoint-down(md) {
				border-right: none;
				margin-bottom: 20px;
			}
			.header__link {
				font-weight: 700;
				font-size: 15px;
				line-height: 1.2;
				color: #ffffff;
				white-space: nowrap;
				text-decoration: none;
				transition: 0.2s all ease;
				@media (any-hover: hover) {
					&:hover {
						color: $accent;
						transition: 0.2s all ease;
					}
				}
				@include media-breakpoint-down(md) {
					color: #333;
					font-size: 20px;
				}
			}
			.header__link.active {
				color: $accent;
			}
			&:last-child,
			&:nth-child(3) {
				border-right: none;
			}
			&.li_logo {
				flex: 0 0 120px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 20px;
				border-right: none;
				min-height: 120px;
				border: 1px dashed rgba(#fff, 0.3);
				border-radius: 100%;
				a {
					&:hover {
						color: #ffffff;
					}
				}
				@include media-breakpoint-down(md) {
					order: -1;
					margin-bottom: 0;
				}
			}
		}
	}
}

.title-h2 {
	position: relative;
	font-family: 'Marck Script', cursive;
	font-size: 60px;
	color: #fff;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 30px;
	user-select: none;
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		width: 150px;
		height: 3px;
		background-color: $accent;
	}
}

.services {
	position: relative;
	color: #fff;
	margin-bottom: 50px;
	&__title {
		text-align: center;
		position: relative;
		h1 {
			font-size: 60px;
			font-family: 'Marck Script', cursive;
		}
		p {
			font-size: 30px;
		}
	}

	&__row {
		display: flex;
		margin-top: 50px;
	}

	&__column {
		display: flex;
		flex-direction: column;
		flex: 1 0 25%;
	}

	&__items {
		flex: 0 0 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 10px;
		.item-icon {
			i {
				color: $accent;
				font-size: 32px;
			}
		}
		.item-title {
			font-size: 24px;
			color: $accent;
			margin-bottom: 20px;
		}
	}

	&__column.column-img {
		flex: 1 1 50%;
		img {
			width: 100%;
			animation-name: rotation;
			animation-duration: 65s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
	}

	@keyframes rotation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	@media (max-width: 700px) {
		&__row {
			display: flex;
			flex-direction: column;
			margin-top: 50px;
		}
	}
	@media (max-width: 800px) {
		&__column.column-img {
			display: none;
		}
	}
}

.abaut-me {
	margin-bottom: 50px;
	background-color: $bg-blue;
	padding: 40px 0 60px 0;

	// .services__icon

	&__icon {
		width: 40px;
		height: 40px;
		img {
			display: block;
			width: 100%;
		}
	}

	&__title {
	}

	// .abaut-me__row

	&__row {
		max-width: 1290px;
		margin: 0 auto;
		background-image: url(../images/dist/about-bg-2.jpg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}

	&__bg {
		width: 100%;
		min-height: 400px;
		background: rgba(27, 30, 48, 0.5);
		background: linear-gradient(180deg, rgba(27, 30, 48, 0.8127626050420168) 35%, rgba(27, 30, 48, 0.17970938375350143) 100%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 80px 0;
	}

	// .abaut-me__info

	&__info {
		max-width: 900px;
		padding: 0 10px;
		p {
			color: #fff;
			font-size: 18px;
			line-height: 28px;
		}
	}
}

.consultations {
	margin-bottom: 50px;

	// .consultations__row

	&__row {
	}

	// .consultations__title

	&__title {
	}
}

/*----------------------Footer--------------------------------*/
footer {
	position: relative;
	z-index: 10;
	padding: 20px 0;
	background-color: $bg-blue;
}
.footer__top {
	display: flex;
	justify-content: center;

	.footer__top_sotial-cotnainer {
		text-align: center;
		min-height: 200px;
		padding: 40px;
		.footer__logo {
			.footer__logo-link {
				max-width: 100px;
				display: inline-block;
				img {
					display: inline-block;
					width: 100%;
				}
			}
		}
		.footer__info {
			display: block;
			font-size: 16px;
			color: #fff;
			margin: 10px 0;
		}
		.social {
			width: 90%;
			display: flex;
			justify-content: space-around;
			margin: 20px auto 10px auto;
			.social-element {
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				width: 45px;
				height: 45px;
				border-radius: 50%;
				border: 2px solid $accent;
				font-size: 24px;
				background: $accent;
				transition: all 0.3s;
				color: #fff;
				a {
					color: #fff;
				}
				&:hover {
					background-color: transparent;
					transition: all 0.3s;
					a {
						color: $accent;
					}
				}
			}
		}
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-width: 151px;
	padding: 10px 30px;
	background-color: $accent;
	border: 1px solid $accent;
	border-radius: 30px;
	color: #ffffff;
	font-weight: 700;
	cursor: pointer;
	transition: 0.2s;
	text-decoration: none;
	user-select: none;
	&:hover {
		background-color: transparent;
		color: $accent;
		transition: 0.2s;
	}
}

.footer__bottom {
	box-sizing: border-box;
	user-select: none;
	width: 100%;
	padding: 20px;
	border-top: 1px solid #222;
	box-shadow: inset 0 1px #404040;
	.copy {
		font-size: 16px;
		color: #fff;
	}
}

@include media-breakpoint-down(md) {
	.footer__bottom {
		padding: 10px;
		.copy {
			font-size: 12px;
		}
	}
}
/*----------------------Footer--------------------------------*/
.horoscope {
	margin-bottom: 50px;
	// .horoscope__row

	&__row {
	}

	// .horoscope__elements

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
		gap: 10px;
		@include media-breakpoint-down(md) {
			grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
		}
	}

	// .horoscope__item

	&__item {
		border: 1px solid #6e6e6e;
		border-radius: 8px;
		transition: background 0.25s ease-in;
		padding: 20px;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				background: $bg-blue;
			}
		}
		@include media-breakpoint-down(md) {
			transition: background 0.25s ease-in;
			padding: 5px;
			cursor: pointer;
		}
	}

	// .horoscope__img

	&__img {
		position: relative;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		user-select: none;
		pointer-events: none;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
		@include media-breakpoint-down(md) {
			height: 50px;
			margin-bottom: 5px;
		}
	}

	// .horoscope__title

	&__title {
		color: #fff;
		text-align: center;
		pointer-events: none;
		margin-bottom: 30px;
		h2 {
			letter-spacing: 2px;
		}
		@include media-breakpoint-down(md) {
			margin-bottom: 5px;
			h4 {
				font-size: 15px;
			}
		}
	}

	&__sub-title {
		font-size: 20px;
	}
	// .horoscope__date

	&__date {
		color: #fff;
		text-align: center;
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}

.element {
	background-color: #fff;
	padding: 0px;
	// .element__title

	&__title {
		color: $accent;
		text-transform: capitalize;
		font-size: 32px;
	}

	// .element__content

	&__content {
	}

	// .element__name

	&__name {
		text-transform: capitalize;
		font-size: 16px;
		p {
			margin-bottom: 0;
		}
	}

	// .element__text

	&__text {
		font-size: 16px;
	}
}

.body-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	pointer-events: none;
	background-color: rgba(#fff, 0.1);
	transition: 0.25s ease-in-out;
	@supports ((-webkit-backdrop-filter: blur(4px)) or (backdrop-filter: blur(4px))) {
		backdrop-filter: blur(4px);
	}
	&._active {
		z-index: 99;
		pointer-events: visible;
		transition: 0.25s ease-in-out;
	}
}

.zodiak-preview {
	border: none !important;
}