.horoscope {
	.select {
		position: relative;
	}
	.select__item {
		position: relative;
		width: auto;
		user-select: none;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	.select__title {
		position: relative;
		margin-bottom: 20px;
		overflow: hidden;
		border-radius: 8px;
		@include media-breakpoint-down(md) {
			width: 100%;
		}
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			background-color: rgba($accent, 0.5);
		}
	}

	.select__title._load {
		&::before {
			animation: load 1s ease-in 1;
		}
		span {
			animation: load 1s ease-in 1;
		}
	}

	@keyframes load {
		from {
			left: -100%;
			color: rgba(#fff, 0);
		}
		to {
			left: 100%;
			color: rgba(#fff, 1);
		}
	}

	.select__value {
		position: relative;
		display: inline-block;
		padding: 10px 25px;
		font-size: 20px;
		line-height: 22px;
		font-weight: 400;
		user-select: none;
		transition: 0.3s ease-in-out;
		border-radius: 8px;
		cursor: pointer;
		color: #fff;
		border: 1px solid #6e6e6e;
		width: 100%;
		text-align: center;
		transition: color 0.3s ease-in;
		@include media-breakpoint-down(md) {
			background-color: $bg-blue;
			color: #fff;
			border: none;
			padding: 10px 35px 10px 25px;
		}
		&::before,
		&::after {
			display: inline-block;
			content: '';
			position: absolute;
			top: 50%;
			width: 15px;
			height: 1px;
			background-color: #fff;
			transition: all 0.25s ease 0s;
			@include media-breakpoint-up(md) {
				content: none;
			}
		}
		&::before {
			transform: translateY(-50%) rotate(-45deg);
			right: 10px;
		}
		&::after {
			transform: translateY(-50%) rotate(45deg);
			right: 20px;
		}
	}
	.select._active .select__value::before {
		transform: rotate(-180deg);
	}
	.select._active {
		.select__value {
			@include media-breakpoint-down(md) {
				color: $accent;
			}
			&::before {
				transform: translateY(-50%) rotate(45deg);
			}
			&::after {
				transform: translateY(-50%) rotate(-45deg);
			}
		}
	}
	.select__value._active {
		background-color: #393939;
		color: #fff;
	}

	.select__options {
		display: none;
		border-top: 0;
		border-top: 0;
		font-size: 15px;
		line-height: 22px;
		font-weight: 400;
		text-align: center;
		cursor: pointer;
		user-select: none;
	}
	@include media-breakpoint-up(md) {
		.select__options {
			display: flex !important;
			flex-wrap: wrap;
		}
	}
	@include media-breakpoint-down(md) {
		.select__options {
			position: absolute;
			top: 50px;
			left: 0;
			right: 0;
			background-color: #fff;
			padding: 10px;
			border-radius: 8px;
		}
	}
	.select__option-in {
		justify-content: center;
		align-items: center;
		font-size: 15px;
		line-height: 22px;
		font-weight: 400;
		text-align: center;
		border-radius: 8px;
		padding: 10px 5px;
		cursor: pointer;
		margin-bottom: 20px;
		user-select: none;
		transition: 0.3s ease-in-out;
		min-width: 160px;
		color: #fff;
		background-color: $bg-blue;
		@include media-breakpoint-down(md) {
			margin-bottom: 10px;
		}
	}
	@include media-breakpoint-down(md) {
		.select__option-in {
			min-width: calc(90px + 70 * ((100vw - 320px) / 970));
		}
	}
	.select__option-in._active {
		background-color: $accent;
	}
	@media (any-hover: hover) {
		.select__option-in:hover {
			background-color: $accent;
		}
	}
	.select__option-in:not(:last-child) {
		@include media-breakpoint-up(md) {
			margin-right: 10px;
		}
	}
	.select._active {
		z-index: 5;
	}

	.select._active.select__options {
		display: block;
	}
	@include media-breakpoint-down(md) {
		.accessories__nav-select .select {
			min-height: 100px;
		}
		.accessories__nav-select .form__select {
			display: none;
		}
	}
	._tabs-block {
		display: none;
	}
	._tabs-block._active {
		display: block;
	}
}
